:root {
 --dark: #13191b;
 --gray: rgb(72, 68, 68);
 --white: rgb(255, 255, 255);
 --lightwhite: rgb(216, 215, 215);
 --pinkish: rgb(211, 70, 173);
 --white:white;
}

* {
 margin: 0;
 box-sizing: border-box;
 overflow: hidden;
}


.heading{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: var(--pinkish);
}

.main{
 position: relative;
 display: flex;
 flex-direction: column;
 width: 100vw;
 height: 100vh;
 justify-content: center;
 align-items: center;
 background-color: var(--dark);
}


.modal{
  width: 800px;
  display: flex;
  border-radius: 20px;
}

.first,.second,.third{
 position: relative;
 width: 50%;
 transition: width  .2s;
 cursor: pointer;
}

button{
 transition: display ease-in-out .5s;
 display: none;
 position:absolute;
 top: 20px;
 right: 5px;
 background: none;
 border: none;
 font-size: 50px;
 color: var(--pinkish);
 cursor: pointer;
}

.title{
 position: absolute;
 width: 100%;
}
.title p{
 font-size: 20px;
 padding-top: 5px;
 padding-left: 20px;
 text-align: left;
 color: var(--pinkish);
 font-weight:bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image{
   background: rgba(0, 0, 0, 0.497);
   height: 400px;
}

.image img{
 width: 400px;
 height: 400px;

}



.first:hover{
 width: 100%;
}

.second:hover {
 width: 100%;
}

.third:hover {
 width: 100%;
}

.first:hover button{
 display: block;
}
.second:hover button{
 display: block;
}
.third:hover button{
 display: block;
}



